*{
    padding:0;
    margin:0;
}
nav{
  background-color: black;
  color: aliceblue;
  padding:20px;

}  
  h1,ul,li{
      display:inline;
      padding-right: 20px;;
  }
  ul{
margin-left: 50%;
  }
  a{
    color:aliceblue;
    text-decoration: none;
  }
  
  .content{
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 20px;
  }
  .images{
    width:45%;
    height:80%;
    position: absolute;
    bottom: 0;
    right: 20px;

  }
  .images img{
    height:100%;
    width:100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%);
    transition:bottom 1s,left 1s;
  }
 span{
    color:gold
 }
 .images{
    border-color: rgb(42, 37, 37);
    border-width: 7px;
    border-style: solid;
 }
 body{
    background-image: url("portfol.png");
 }
 #about{
    height:290px;
    width:220px;
    position: absolute;
    right: 50%;
    bottom: 0;
    background-color: aqua;
    color: black;
 }